In [1]:
%matplotlib notebook
import os
import pandas as pd
import numpy as np

In [2]:
file_to_load = "../../Resources/casos-asociados-a-covid-19.csv"

covid_cases_data = pd.read_csv(file_to_load)
covid_cases_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (30,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,FECHA ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD UNIDAD MEDICA,SEXO,ENTIDAD NACIMIENTO,ENTIDAD RESIDENCIA,MUNICIPIO RESIDENCIA,TIPO PACIENTE,...,Negativo,MIGRANTE,PAIS NACIONALIDAD,PAIS ORIGEN,UNIDAD DE CUIDADOS INTENSIVOS,RANGO EDAD,num_fallecidos,num_hospitalizados,positivo,pendiente
0,2020-06-24,076847,USMER,SSA,PUEBLA,MUJER,PUEBLA,PUEBLA,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN
1,2020-06-24,0f2b37,USMER,SSA,CHIAPAS,HOMBRE,CHIAPAS,CHIAPAS,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN
2,2020-06-24,1aa59e,USMER,SSA,VERACRUZ DE IGNACIO DE LA LLAVE,MUJER,VERACRUZ DE IGNACIO DE LA LLAVE,VERACRUZ DE IGNACIO DE LA LLAVE,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,41-50,NaN,NaN,Positivo SARS-CoV-2,NaN
3,2020-06-24,190217,USMER,SSA,SONORA,MUJER,SONORA,SONORA,NaN,HOSPITALIZADO,...,NaN,NO ESPECIFICADO,México,99,NO,41-50,NaN,1.0,Positivo SARS-CoV-2,NaN
4,2020-06-24,169761,USMER,SSA,YUCATÁN,HOMBRE,YUCATÁN,YUCATÁN,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN

In [3]:
clean_covid_data = covid_cases_data[covid_cases_data["Negativo"]!="No positivo SARS-CoV-2"]
clean_covid_data = clean_covid_data[["ID_REGISTRO","SEXO","MUNICIPIO RESIDENCIA","FECHA INGRESO", "FECHA DEFUNCION","INTUBADO","EDAD","DIABETES","EPOC","ASMA","INMUNOSUPRESION","HIPERTENSION","CARDIOVASCULAR","OBESIDAD","RENAL CRONICA","TABAQUISMO"]]
clean_covid_data = clean_covid_data.fillna("NO")
display(clean_covid_data)

,ID_REGISTRO,SEXO,MUNICIPIO RESIDENCIA,FECHA INGRESO,FECHA DEFUNCION,INTUBADO,EDAD,DIABETES,EPOC,ASMA,INMUNOSUPRESION,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL CRONICA,TABAQUISMO
0,076847,MUJER,NO,2020-06-01,NO,NO APLICA,36,NO,NO,NO,NO,NO,NO,NO,NO,NO
1,0f2b37,HOMBRE,NO,2020-06-02,NO,NO APLICA,32,NO,NO,NO,NO,NO,NO,NO,NO,NO
2,1aa59e,MUJER,NO,2020-06-15,NO,NO APLICA,43,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,190217,MUJER,NO,2020-06-13,NO,NO,42,NO,NO,NO,NO,SI,NO,NO,NO,NO
4,169761,HOMBRE,NO,2020-06-16,NO,NO APLICA,33,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490621,0db5d1,MUJER,NO,2020-05-28,NO,NO APLICA,60,SI,NO,NO,NO,NO,NO,NO,NO,NO
490622,1dc64a,HOMBRE,NO,2020-05-27,NO,NO APLICA,32,NO,NO,NO,NO,NO,NO,SI,NO,NO
490623,130185,MUJER,Iztapalapa,2020-05-12,NO,NO APLICA,52,NO,NO,NO,NO,NO,NO,NO,NO,NO
490624,186960,MUJER,Iztacalco,2020-04-15,NO,NO APLICA,47,NO,NO,NO,NO,NO,NO,SI,NO,NO
490625,07be2e,HOMBRE,NO,2020-05-23,2020-05-24,NO APLICA,57,NO,NO,NO,NO,SI,NO,SI,NO,NO

In [12]:
cases_per_date = clean_covid_data.copy()
cases_per_date = cases_per_date.groupby(['FECHA INGRESO']).count().reset_index().rename(columns={'FECHA INGRESO':'FECHA_INGRESO','ID_REGISTRO':'CASOS_TOTALES'}).drop(['SEXO','FECHA DEFUNCION','MUNICIPIO RESIDENCIA','INTUBADO','EDAD','DIABETES','EPOC','ASMA','INMUNOSUPRESION','HIPERTENSION','CARDIOVASCULAR','OBESIDAD','RENAL CRONICA','TABAQUISMO'],axis=1)
cases_per_date

    FECHA_INGRESO  CASOS_TOTALES
0      2020-01-13              1
1      2020-01-14              1
2      2020-01-28              1
3      2020-01-29              1
4      2020-01-30              1
..            ...            ...
118    2020-06-20           4245
119    2020-06-21           3121
120    2020-06-22          10267
121    2020-06-23          10909
122    2020-06-24           4760

[123 rows x 2 columns]

In [15]:
casos_fecha_mujeres = clean_covid_data.copy()
casos_fecha_mujeres = casos_fecha_mujeres[casos_fecha_mujeres["SEXO"]=="MUJER"]
casos_fecha_mujeres = casos_fecha_mujeres.groupby(['FECHA INGRESO']).count().reset_index().rename(columns={'FECHA INGRESO':'FECHA_INGRESO','ID_REGISTRO':'CASOS_MUJERES'}).drop(['SEXO','FECHA DEFUNCION','MUNICIPIO RESIDENCIA','INTUBADO','EDAD','DIABETES','EPOC','ASMA','INMUNOSUPRESION','HIPERTENSION','CARDIOVASCULAR','OBESIDAD','RENAL CRONICA','TABAQUISMO'],axis=1)
casos_fecha_mujeres

    FECHA_INGRESO  CASOS_MUJERES
0      2020-01-14              1
1      2020-01-29              1
2      2020-02-12              1
3      2020-02-28              1
4      2020-02-29              1
..            ...            ...
111    2020-06-20           2020
112    2020-06-21           1361
113    2020-06-22           5184
114    2020-06-23           5578
115    2020-06-24           2481

[116 rows x 2 columns]

In [16]:
casos_fecha_hombres = clean_covid_data.copy()
casos_fecha_hombres = casos_fecha_hombres[casos_fecha_hombres["SEXO"]=="HOMBRE"]
casos_fecha_hombres = casos_fecha_hombres.groupby(['FECHA INGRESO']).count().reset_index().rename(columns={'FECHA INGRESO':'FECHA_INGRESO','ID_REGISTRO':'CASOS_HOMBRES'}).drop(['SEXO','FECHA DEFUNCION','MUNICIPIO RESIDENCIA','INTUBADO','EDAD','DIABETES','EPOC','ASMA','INMUNOSUPRESION','HIPERTENSION','CARDIOVASCULAR','OBESIDAD','RENAL CRONICA','TABAQUISMO'],axis=1)
casos_fecha_hombres

    FECHA_INGRESO  CASOS_HOMBRES
0      2020-01-13              1
1      2020-01-28              1
2      2020-01-30              1
3      2020-02-07              1
4      2020-02-27              4
..            ...            ...
114    2020-06-20           2225
115    2020-06-21           1760
116    2020-06-22           5083
117    2020-06-23           5331
118    2020-06-24           2279

[119 rows x 2 columns]

In [28]:
casos_diarios_genero = pd.DataFrame.merge(cases_per_date,casos_fecha_mujeres,how='left',on='FECHA_INGRESO')
casos_diarios_genero = pd.DataFrame.merge(casos_diarios_genero,casos_fecha_hombres,how='left',on='FECHA_INGRESO')
casos_diarios_genero = casos_diarios_genero.sort_values(by=["FECHA_INGRESO"],ascending=True).fillna(0)
display(casos_diarios_genero)
casos_diarios_genero = casos_diarios_genero.astype(int)
casos_diarios_genero

    FECHA_INGRESO  CASOS_TOTALES  CASOS_MUJERES  CASOS_HOMBRES
0      2020-01-13              1            0.0            1.0
1      2020-01-14              1            1.0            0.0
2      2020-01-28              1            0.0            1.0
3      2020-01-29              1            1.0            0.0
4      2020-01-30              1            0.0            1.0
..            ...            ...            ...            ...
118    2020-06-20           4245         2020.0         2225.0
119    2020-06-21           3121         1361.0         1760.0
120    2020-06-22          10267         5184.0         5083.0
121    2020-06-23          10909         5578.0         5331.0
122    2020-06-24           4760         2481.0         2279.0

[123 rows x 4 columns]

ValueError: invalid literal for int() with base 10: '2020-01-13'

In [8]:
pd.DataFrame.to_csv(casos_diarios_genero,'../assets/data/casos_fecha_ingreso.csv',encoding='latin1')
casos_diarios_genero.to_json('../assets/data/casos_fecha_ingreso.json',orient='records')